/* Extra small devices (phones, less than 768px) */

@media screen and (max-width: 767px) {
    .jumbo_lead {
        padding: 30px 30px 30px 45px;
        position: static;
        width: auto;
    }
    .main_menu {
        padding-bottom: 0;
    }
    .logo_pic {
        width: 60%;
    }
    .jumbo_lead p {
        font-size: 1.350em;
    }
    header .custom_button {
        padding: 11px 50px;
    }
    .menu_collapse {
        width: 100%;
    }
    .menu_ul {
        padding-left: 0;
    }
    .close_button {
        left: 35px;
        right: auto;
    }
    .arrow_container {
        left: 45px;
        top: 437px;
    }
    .box_separator {
        height: 51px;
    }
    .before_after_slider {
        display: none;
    }
    header {
        background: #b9bbc7;
    }
    /**/
    .img_wimpern {
        margin: 15px 0 96px 5px;
        width: 100%;
    }
    .how_it {
        padding: 0 80px 78px 45px;
    }
    .about_product {
        padding: 65px 15px 0 15px;
    }
    .about_next {
        padding-left: 0;
    }
    .img_eye {
        position: static;
        top: 0;
        width: 100%;
    }
    .doctor_img {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .line_back {
        display: none;
    }
    .gray_mobile {
        background: #f3f3f3;
    }
    .slave_ul,
    .right_pluses .slave_ul {
        padding-left: 56px;
    }
    .pluses_box.right_pluses {
        padding-left: 15px;
    }
    .right_pluses .vert_gray {
        left: 17px;
    }
    .img_effective {
        position: static;
        width: 100%;
    }
    .item .col-lg-12,
    .name {
        height: 146px;
    }
    .relative_text {
        padding: 15px;
        top: 10px;
    }
    .left_warranty {
        padding: 25px 5px 0 18px;
    }
    .img_certificate {
        margin-left: 15px;
        width: 100%;
    }
    .right_warranty .gray_box {
        top: 39px;
    }
    .gray_box {
        display: none;
    }
    .custom_button {
        width: 100%;
    }
    .comment_row {
        padding: 30px 15px 26px 15px;
    }
    .comment_row .col-lg-1,
    .comment_row h5 {
        text-align: center;
    }
    .comment_human {
        padding-left: 15px;
    }
    .comment_human p {
        padding-left: 15px;
    }
    .footer_left {
        padding: 39px 15px 13px 15px;
    }
    .footer_right {
        padding: 39px 15px 13px 30px;
    }
    .footer_back,
    .footer_front {
        position: static
    }
    input {
        min-width: 100%;
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width:768px) and (max-width: 991px) {
    .main_menu {
        padding-bottom: 15px;
    }
    .jumbo_lead {
        min-width: 70%;
        padding: 0 30px 30px 45px;
        position: static;
    }
    .menu_collapse {
        width: 65%;
    }
    .close_button {
        left: 35px;
        right: auto;
    }
    .arrow_container {
        left: 45px;
        top: 437px;
    }
    .box_separator {
        height: 51px;
    }
    .before_after_slider {
        display: none;
    }
    header {
        background: #b9bbc7 url('../img/var2/Main_Photo_28_10_V2.jpg');
        background-position: center;
        background-size: cover;
    }
    .img_eye {
        position: static;
    }
    .slave_ul,
    .right_pluses .slave_ul {
        padding-left: 56px;
    }
    .custom_button {
        width: 100%;
    }
    .relative_text {
        left: 30px;
    }
    .doctor_img {
        margin-top: 54px;
        width: 100%;
    }
    .left_warranty {
        padding: 25px 5px 0 20px;
    }
    .footer_front {
        position: static;
    }
    .footer_front .custom_button {
        width: 89%;
    }
    .footer_left {
        padding: 39px 15px 13px 50px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width:992px) and (max-width: 1200px) {
    .jumbo_lead {
        padding: 0px 0 0 30px;
        top: 95px;
    }
    .close_button {
        right: 455px;
    }
    .footer_front {
        width: 50%;
    }
    input {
        min-width: 80%;
    }
    .plus,
    .minus {
        top: 50px;
    }
    .social_ul {
        margin-bottom: 129px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width:1200px) {
    .footer_front {
        width: 50%;
    }
    .footer_front,
    .footer_back {
        margin-top: 179px;
    }
    .comment_row {
        margin-bottom: 0;
    }
}